GFSMasterServer/Connected Services/GFSChunkServiceReference/GFSChunkServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Write">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chunkServerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chunkUuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chunkData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Read">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chunkServerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chunkUuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chunkServerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chunkUuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>